## Assignment 1 - Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
#Using BODMAS, first we solve Paranthesis(Brackets)
(3 + 1)

4

In [3]:
#Then multiplying,we get
4 * 9

36

In [4]:
#Then using modulo,we get remainder as-
36 % 4

0

In [5]:
#Then solving, the remaining we get
5 + 0 / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [22]:
#Using user defined function
def odd_even_checker(a,b):
    c = a + b
    if (c % 2) == 0:
        print("Even Number")
    else:
        print("Odd Number")
#Taking number as an input from user at runtime        
a = int(input("Enter cart value for a: ")) #converting the string value to integer
b = int(input("Enter cart value for b: "))

Enter cart value for a: 2
Enter cart value for b: 3

In [25]:
# ODD-Even Checker
odd_even_checker(a,b)

Odd Number

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [38]:
list = [1,2,3,4,5,6,7,8,9,10]

a = int(input("Enter cart value for a: "))

Enter cart value for a: 22

In [39]:
counter = 1
for i in range(len(list)):
    output = list[i] * a
    print(f"Number {a} multiplied by {counter} gives {output}")
counter = counter + 1

Number 22 multiplied by 1 gives 22
Number 22 multiplied by 1 gives 44
Number 22 multiplied by 1 gives 66
Number 22 multiplied by 1 gives 88
Number 22 multiplied by 1 gives 110
Number 22 multiplied by 1 gives 132
Number 22 multiplied by 1 gives 154
Number 22 multiplied by 1 gives 176
Number 22 multiplied by 1 gives 198
Number 22 multiplied by 1 gives 220

In [ ]:
Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [83]:
list1 = []
for var in range(2000,3201):
    if (var % 7 == 0) and (var % 5 != 0):
        list1.append(var)

In [84]:
print(list1,'\n')

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [27]:
list2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [11]:

    counter = 0
    for i in range(len(list2)):
        if type(list2[i]) == int:
            counter = counter + 1

print(f"Int has been repeated {counter} number of times")
    
    counter = 0
    for j in range(len(list2)):
        if type(list2[j]) == str:
            counter = counter + 1

print(f"str has been repeated {counter} number of times")

counter = 0
    for k in range(len(list2)):
        if type(list2[k]) == float:
            counter = counter + 1

print(f"float has been repeated {counter} number of times")

counter = 0
    for l in range(len(list2)):
        if type(list2[l]) == bool:
            counter = counter + 1

print(f"bool has been repeated {counter} number of times")

counter = 0
    for m in range(len(list2)):
        if type(list2[m]) == type(None):
            counter = counter + 1

print(f"NoneType has been repeated {counter} number of times")

Int has been repeated 5 number of times
str has been repeated 4 number of times
float has been repeated 1 number of times
bool has been repeated 1 number of times
NoneType has been repeated 1 number of times

In [12]:
type(None)

NoneType

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [13]:
list3 = []
for var in list2:
    if type(var) == int or type(var) == float:
        list3.append(var)

In [14]:
list3

[2, 3, 1, 5.5, 3, 7]

In [15]:
sum(list3)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [28]:
list4 = []
for var in list2:
    if type(var) == str:
        list4.append(var)

In [29]:
print(list4)

['Py', '10', 'SQL', 'John']

In [34]:
'-'.join(list4)

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [24]:
list2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [25]:
def count_numbers(*args):
    
    output = 0
    count = 0
    for var in args:
        if type(var) in (int,float):
            output = output + var   #  output += var
   
    
        elif type(var) == str:
            count = count + 1
    print(output,count)

In [26]:
count_numbers(2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7)

21.5 4

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [53]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [39]:
#i.Using loops
li1 = []
for i in range(len(li)):
    if li[i] % 2 == 1:
        li1.append(li[i])

In [40]:
li1

[5, 7, 97, 77, 23, 73, 61]

In [55]:
#ii. using list comprehensions
[var for var in li if var%2 != 0]

[5, 7, 97, 77, 23, 73, 61]

In [61]:
#iii. Using lambda function
list(filter(lambda a:a % 2 == 1,li))

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [6]:
import numpy as np

In [7]:
def fn_describe(args):
    sum_input = sum(args)
    count_input = len(args)
    min_input = np.min(args)
    max_input = np.max(args)
    mean_input = sum_input/count_input
    
     
    return [sum_input,count_input,min_input,max_input,mean_input]

In [8]:
fn_describe([2,3,4,5])

[14, 4, 2, 5, 3.5]

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [95]:
def area_of_shape(shape,**kwargs):
    area = 0
    if shape == 'square':
        area = kwargs['side']*kwargs['side']
    elif shape == 'circle':
        area = 3.14 * kwargs['radius']**2
    elif shape == 'rectangle':
        area = kwargs['length'] * kwargs['breath']
    return area

In [96]:
area_of_shape('square',side=5)

25

In [97]:
area_of_shape('circle',radius=25)

1962.5

In [98]:
area_of_shape('rectangle',length=5,breath = 10)

50

In [ ]:
Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [67]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def reconcile(s1,s2):
    set1 = set(s1)
    set2 = set(s2)
    
    Match = set1 & set2
    print("Match:",Match)
    only_set1 = set(s1) - set(s2)
    print("Only in l1:",only_set1)
    only_set2 = set(s2) - set(s1)
    print("Only in l2:",only_set2)

In [68]:
reconcile(l1,l2)

Match: {'December', 'January', 'February', 'June'}
Only in l1: {'May', 'March', 'September'}
Only in l2: {'October', 'April'}

Q13: write a UDF to check if a number is prime or not.

In [9]:
def test_prime(n):
    if (n==1):
        x = "not prime"
    elif (n==2):
        x ="prime"
    else:
        for x in range(2,n):
            if(n % x==0):
                x = "prime"
            else:
                x = "not prime"
    return x
print(test_prime(11))

not prime

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [100]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 7

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        factorial = factorial*i
    print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [99]:
number = int(input("Type a number: "))

numberDict = {}
for i in range(1, number+1):
    numberDict[i] = i*i

print(numberDict)

Type a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [98]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 34,67,55,33,12,98
List :  ['34', '67', '55', '33', '12', '98']
Tuple :  ('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [96]:
items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of wordswithout,hello,bag,world
bag,hello,without,world

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [95]:
phrase = input("Type in: ")
phrase_splited = phrase.split(' ')

word_list = []
for i in phrase_splited:
    if i not in word_list:
        word_list.append(i)
    else:
        continue
word_list.sort()
print((' ').join(word_list))

Type in: Python is an interesting topic
Python an interesting is topic

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [101]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
            d["UPPER_CASE"]+=1
        elif c.islower():
            d["LOWER_CASE"]+=1
        else:
            pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('Indian is my Nationality')

Original String :  Indian is my Nationality
No. of Upper case characters :  2
No. of Lower case Characters :  19

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [83]:
string = 'abcd123'

In [84]:
len(string)

7

In [86]:
string[::-1]

'321dcba'